tests/test_models/test_engine/__pycache__/test_file_storage.cpython-38.pyc
tests/test_models/__pycache__/test_base_model.cpython-38.pyc
tests/test_models/__pycache__/__init__.cpython-38.pyc
tests/test_models/test_engine/__pycache__/__init__.cpython-38.pyc
models/engine/__pycache__/file_storage.cpython-38.pyc
models/engine/__pycache__/__init__.cpython-38.pyc
models/__pycache__/base_model.cpython-38.pyc
models/__pycache__/__init__.cpython-38.pyc
1_main.py

objects.json
